__pycache__
__pycache__/
*.pyc

build/
build/*
debug_data
debug_data/*
debug_home
debug_home/*
tmp
tmp/*
.pytest_cache
.mypy_cache
venv
venv/*
.venv
.venv/*
.eggs
.eggs/*
adcp_recorder.egg-info
adcp_recorder.egg-info/*
test_output
test_output/*
adcp_recorder/tests/tgt.db
tgt.db
.coverage
