__pycache__
__pycache__/
*.pyc
build/
build/*
debug_data
debug_data/*
debug_home
debug_home/*
tmp
tmp/*
.pytest_cache
.mypy_cache
venv
venv/*
.venv
.venv/*
.eggs
.eggs/*

# Ignore local duckdb files in utils/adcp-data/db
utils/adcp-data/db/*.duckdb

adcp_recorder.egg-info
adcp_recorder.egg-info/*
test_output
test_output/*
adcp_recorder/tests/tgt.db
tgt.db
.coverage
*.txt
*.dat 
*.nmea
*.parquet
htmlcov
htmlcov/*
node_modules
node_modules/*
package.json
package-lock.json
.opencode/opencode.json
.vscode/settings.json
