__pycache__
__pycache__/
*.pyc

errors_binary
errors_binary/
build/
build/*
debug_data
debug_data/*
debug_home
debug_home/*
.pytest_cache
.mypy_cache
venv
venv/*
.venv
.venv/*
.eggs
.eggs/*
adcp_recorder.egg-info
adcp_recorder.egg-info/*
test_output
test_output/*
errors
errors/*

